<div class="row" id=about>
    <div class="col-xs-8 col-sm-3 col-md-3 col-lg-3">
        <img src="../../../assets/img/yo.jpeg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2 style="color:#fd971f">Franz Raven</h2>
        <h2 style="color:#e69f66">Full Stack Dev Jr.</h2>
    </div>
    <div  class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <h1 ><u>Acerca de mi:</u></h1>
        <h2>************</h2>
        <p>Una pasión suele ser lo que moviliza a las personas; pasión, cuya etimología remite al &Pi;&alpha;&theta;&omicron;&sigma; y en consecuencia a una condición pasiva frente a la realidad. El paciente sufre, es afectado por una pasión no elegida y de forma heroica o patológica.</p><p> Pues bien entonces, mejor adoptar una postura desinteresada, ser un ermitaño en la gran ciudad en pleno siglo XXII.  </p>
        <img src="../assets/img/nevada.jpg" alt="" width="228" height="228">
        <p> Mejor aún, llegar a ser nadie como querían Homero y Borges y luego nada que creo que debe ser más difícil aún. </p>
        <h2>************</h2>
    </div>
</div>
