<!DOCTYPE html>
<html>

  <head>

  </head>




  <body>
    <div>
      <header class="container-fluid" >
        <div>

          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="navbar-collapse collapse show" id="navbarColor02" style="">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>


        </div>

        <h1 style="font-size:xxx-large;font-weight:bolder">***</h1>
        <h1 style="font-size:75px;font-weight:bolder">FRANZ RAVEN</h1>
        <h1 style="font-size:xxx-large;font-weight:bolder">*****</h1>

        <h2 style="font-size:xxx-large;font-weight:bolder">·························</h2>
        <h2 style="font-size:xxx-large">* Synth Wizard *</h2>
        <h2 style="font-size:xxx-large;font-weight:bolder">·························</h2>
        <br>
        <br>
      </header>
    </div>

    <div id=about>

      <h1 ><u>Acerca de mi:</u></h1>
      <h2>************</h2>
      <p>Una pasión suele ser lo que moviliza a las personas; pasión, cuya etimología remite al &Pi;&alpha;&theta;&omicron;&sigma; y en consecuencia a una condición pasiva frente a la realidad. El paciente sufre, es afectado por una pasión no elegida y de forma heroica o patológica.</p><p> Pues bien entonces, mejor adoptar una postura desinteresada, ser un ermitaño en la gran ciudad en pleno siglo XXII.  </p>
<img src="../assets/img/nevada.jpg" alt="" width="228" height="228">
      <p> Mejor aún, llegar a ser nadie como querían Homero y Borges y luego nada que creo que debe ser más difícil aún. </p>
      <h2>************</h2>
    </div>

    <div id=edu>
      <h2>· Formación -> </h2>

      <li>
        <ul>
          <h3>Pythonista ->></h3>
          <h3>Web Design ->></h3>
          <h3>Filosofía y Teología ->></h3>
          <h3>Composición musical ->></h3>
        </ul>
      </li>

    </div>

    <div id=work>
      <h2>Trabajos -> </h2>
      <li>
        <ul>
        </ul>
      </li>

    </div>
    <div id=proj>
      <h2 >Proyectos -> </h2>
      <li>
        <ul>
        </ul>
      </li>
    </div>

    <footer>
      <h6>Copyright&reg; BITÄCORA  2022</h6>
      <p>Author: Franz Raven<br>

      </p>
    </footer>

  </body>

</html>
