<div>
    <header class="container-fluid" >
        <div>

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <img    src="../../../assets/img/arg-prog.png">

                    <div class="margin-left:auto">
                         <a class="navbar-brand" href="https://github.com/FranzRaven"><i class="fab fa-github fa-xl"></i></a>
                        <a class="navbar-brand" href="https://www.youtube.com/channel/UCVXHq-H6AwMcoILT4_8fCDA"><i class="fab fa-youtube fa-xl"></i></a>
                        <a class="navbar-brand" href="https://wa.me/5492944386352"><i class="fab fa-whatsapp fa-xl"></i></a>
                        <a class="navbar-brand" href="https://soundcloud.com/user-418761424"><i class="fab fa-soundcloud fa-xl"></i></a>
                        <a class="navbar-brand" href="https://www.facebook.com/frater.kaneis.3"><i class="fab fa-facebook fa-xl"></i></a>

                        <button class="btn  ms-3 bg-light">Login</button>

                    </div>

                </div>
            </nav>

        </div>

        <h1 style="font-size:xxx-large;font-weight:bolder">***</h1>
        <h1 style="font-size:75px;font-weight:bolder">FRANZ RAVEN</h1>
        <h1 style="font-size:xxx-large;font-weight:bolder">*****</h1>

        <h2 style="font-size:xxx-large;font-weight:bolder">·························</h2>
        <h2 style="font-size:xxx-large">* Synth Wizard *</h2>
        <h2 style="font-size:xxx-large;font-weight:bolder">·························</h2>
        <br>
        <br>
    </header>
</div>
